
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1468468706'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1468468706#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1468468706') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1468468706') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1468468706#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zhifubao:before { content: "\e606"; }
.icon-iconfontzhifubao:before { content: "\e60a"; }
.icon-jinbi:before { content: "\e615"; }
.icon-liwu:before { content: "\e616"; }
.icon-dianzan:before { content: "\e604"; }
.icon-face:before { content: "\e603"; }
.icon-appxuanze:before { content: "\e605"; }
.icon-wepaylogo:before { content: "\e607"; }
.icon-time:before { content: "\e60b"; }
.icon-guanbi1:before { content: "\e600"; }
.icon-guanbi2fill:before { content: "\e601"; }
.icon-xuanze:before { content: "\e602"; }
.icon-weixin:before { content: "\e617"; }
.icon-pengyouquan:before { content: "\e618"; }
.icon-zhiyuanzhifubao:before { content: "\e608"; }
.icon-weixinzhifu:before { content: "\e609"; }
.icon-iconpoint:before { content: "\e60c"; }
.icon-iconfullscreen:before { content: "\e60d"; }
.icon-iconnext:before { content: "\e60e"; }
.icon-iconpause:before { content: "\e60f"; }
.icon-iconplay:before { content: "\e610"; }
.icon-iconplay1:before { content: "\e611"; }
.icon-iconpause1:before { content: "\e612"; }
.icon-iconfullscreen1:before { content: "\e613"; }
.icon-iconlive:before { content: "\e614"; }
